@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;  
  background-color: #f2f2f2;
  color : 1d1d1f;
}
